
servidor/node_modules
servidor/node_modules/

servidor\node_modules
servidor\node_modules\

tagsdescriptions/node_modules
tagsdescriptions/node_modules/

tagsdescriptions\node_modules
tagsdescriptions\node_modules\
tagsdescriptions/node_modules/.bin/acorn
tagsdescriptions/node_modules/.bin/ansi-html
